    <div class="container-fluid mt-5 about-style" id="aboutid">
<div class="row">
    <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading">About Us</h1>
        <p class="text-center sub-heading">Join our vibrant community to enhance your skills and unleash your creative potential in photography.</p>
<div class="row">
     <div class="col-md-6 col-12 hero-text ">
            <figure>
            <img src="images/image2.jpeg" alt="herosection_image" class="image2 mx-auto d-flex justify-content-center">
        </figure>
        </div>
    
    {{!--right side--}}
       
<div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
<h1>Embrace the art of visual storytelling!</h1>

<p> Join our esteemed photography community, where creativity meets expertise.From mastering the fundamentals to crafting captivating narratives through the lens,discover your unique perspective with our seasoned mentors.Elevate your skills, cultivate your passion,and frame your future in <span class="bold-style">photography</span> with us.</p>
<a class="btn-style btn-primary" href="#contactid">Connect with us</a>
    </div>
    
</div>
    </div>
</div>
    </div>