

    <div class="container-fluid mt-5 about-style" id="galleryid">
<div class="row">
    <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading" style="margin-bottom: 3rem;">Visit our gallery!</h1>
<div class="row" >
<div class="col-md-4">
    <div class="box" style="display:flex;justify-content: center;align-items: center;">
    <img src="images/image3.jpeg" style="width: 35rem;height: 35rem; border-radius: 2rem;margin-bottom: 3rem; " alt="">
    </div>
</div>
<div class="col-md-4">
    <div class="box" style="display:flex;justify-content: center;align-items: center;">
    <img src="images/image4.jpeg" style="width: 35rem;height: 35rem; border-radius: 2rem;margin-bottom: 3rem;" alt="">
    </div>
</div>
<div class="col-md-4">
    <div class="box" style="display:flex;justify-content: center;align-items: center;">
<img src="images/image5.jpeg" style="width: 35rem;height: 35rem; border-radius: 2rem;margin-bottom: 3rem;" alt="">
    </div>
</div>
<div class="col-md-4">
    <div class="box" style="display:flex;justify-content: center;align-items: center;">
    <img src="images/image6.jpeg" style="width: 35rem;height: 35rem; border-radius: 2rem;margin-bottom: 3rem;" alt="">
    </div>
</div>
<div class="col-md-4">
    <div class="box" style="display:flex;justify-content: center;align-items: center;">
   <img src="images/image7.jpeg" style="width: 35rem;height: 35rem; border-radius: 2rem;margin-bottom: 3rem;" alt="">
    </div>
</div>
<div class="col-md-4">
    <div class="box" style="display:flex;justify-content: center;align-items: center;">
   <img src="images/image8.jpg" style="width: 35rem;height: 35rem; border-radius: 2rem;margin-bottom: 3rem;" alt="">
    </div>
</div>
<div class="col-md-4">
    <div class="box" style="display:flex;justify-content: center;align-items: center;">
   <img src="images/image9.jpeg" style="width: 35rem;height: 35rem; border-radius: 2rem;margin-bottom: 3rem;" alt="">
    </div>
</div>
<div class="col-md-4">
    <div class="box" style="display:flex;justify-content: center;align-items: center;">
   <img src="images/image10.jpeg" style="width: 35rem;height: 35rem; border-radius: 2rem;margin-bottom: 3rem;" alt="">
    </div>
</div>
<div class="col-md-4">
    <div class="box" style="display:flex;justify-content: center;align-items: center;">
   <img src="images/image11.jpeg" style="width: 35rem;height: 35rem; border-radius: 2rem;margin-bottom: 3rem;" alt="">
    </div>
</div>
</div>
</div>
</div>
</div>
</div>

